.navbar ul{
    background-color: rgb(228, 165, 153);
    list-style-type: none;
    display: block; 
    overflow: hidden; 
}
.navbar a{
    text-decoration: none;
    list-style-type: none; 
    display: block;
    color: blue;   
}
.navbar a:hover{
    background-color: white;
}
.navbar li{
    text-decoration: none;
    list-style-type: none;
    float: left; 
    padding: 10px; 
    color: white;  
}

/*arbeitet an der Vita */
.vita{
    margin: auto; 
    padding: 50px;; 
}


/* layout */
section {
    float: left; 
    width : 50%
}
aside{
    float: left;
    width: 50%;
}
footer{
    display: block;
    background-color:  rgb(228, 165, 153);;
    clear: both;
    text-align: center;
    color: blue;
}


/*bildauswahl in der Gallerie*/
.gallerie{
    display: inline-block; 
    border: 1px solid black; 
}
.gallerie:hover{
    border: 5px solid black; 
}
.gallerie .beschreibung{
    text-align: center;
}

/* pagination in der Gallerie*/ 
.steuerungselement{
    text-align: center;
    font-size: 25;
}
.steuerungselement a{
    text-decoration: none;
    color: black;
    padding: 8px 15px;
    display: inline-block;
}
.steuerungselement a.aktiv{
    background-color: tomato;
} 
.steuerungselement a:hover:not(.aktiv){
    background-color: lightgrey;
}


/*Eindrücke aus der Ausstellung*/
.diashow img{
    display: none; 
    margin: auto;
    padding: 50px; 
}

img.bildAnzeige{
    display: block; 
    text-align: center;
}

/*hier geht es jetzt um die Zitate*/
.zitatShow p{
    display: none;
}

p.zitatAnzeige{
    display: block;
    text-align: center;
}

.zitat{
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
}
@media screen and (max-width: 600px){
    aside, section, article{
        width: 100%;
    }
}